body {
  background-color: black;
  font-family: roboto;
  font-size: 22px
}

#calculator {
  display: flex;
  justify-content: center;
   flex-direction: column;
     align-items: center;
  
}
#display {
  width: 290px;
  height: 60px;
  border: 1px solid white;
  background-color: darkgrey;
  display: flex;
  justify-content: end;
  align-items: center;
  padding-right: 3px;
  font-family: Roboto Mono;
  border-radius: 10px;
  font-size: 30px

}

#keyboard{
  width: 296px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  
}
.button {
  width: 70px;
  height: 70px;
  border: 1px solid white;
  margin: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;  
  background-color: black;
  cursor: pointer;
  border-radius: 10px
}

.button:hover{
  border: 1px solid darkorange    
}

#zero { 
width: 144px;  
}
#clear {
  width: 218px;
  background-color: darkred
}
#equals {
  height: 70px;
  bottom: 0px;
  background-color: darkgreen
 
}

